*.iml
.gradle
.DS_Store
.externalNativeBuild
/android/local.properties
/android/.idea/modules.xml
/android/.idea/workspace.xml
/android/build
/android/captures
/android/app/build
/android/app/release

.idea

/build
/songs
/exports

